        <ul class="breadcrumb">
			<li><a href="/">Главная</a><span class="divider">/</span></li>
            <li><a href="/article/news_articles/">Новости отрасли</a><span class="divider">/</span></li>		
		</ul>
		<div class="container">
			<div class="row">
				<div class="span-one-third">
					<div id="news-right-block">
					<!--
						<div id="news-menu">
							<dl>
								<dt>Разделы:</dt>
								<dt><a href="#">Все новости</a></dt>
								<dt><a href="#">Новости мебели</a></dt>
								<dt><a href="#">События кухонь</a></dt>
								<dt><a href="#">Пресс релизы</a></dt>
							</dl>
						</div>
					-->
						<div class="last-news">
							<dl>
								<dt>Смотрите также:</dt>
                                <% @last_news.each do |news| %>

                                  <dt><%= link_to news.title, {:controller => 'news_item', :action => 'show', :id => news.id} %></dt>

                                <% end %>
							</dl>
						</div>
						<img src="http://placehold.it/220x290/DEF/0069D6&text=AdSense+Block" alt="">
					</div>
					
					
				</div>
				<div class="span-two-thirds">
					<div class="news main">
                        <% if @news_item.image_link
                                 if File.exists?( Dir.pwd + "/public/companies_images/" + @news_item.image_link )
                                   img = root_url + 'companies_images/' + @news_item.image_link
                                else
                                   img = 'http://placehold.it/420x120/99C00C/FFF&text=Main+news'
                                end
                            else
                                img = 'http://placehold.it/420x120/99C00C/FFF&text=Main+news'
                            end
                        %>
						
						
						<div class="page-header">
							<h1><%= @news_item.title %></h1>
						</div>

						<div class="news-content">
							<p><em><%= @news_item.updated_at.strftime("%m/ %d/ %Y") %></em></p>
							<p><%= @news_item.body.html_safe %></p>
						</div>
					</div>
					<!--
					<div class="tags">Рубрики: 
							<span class="tag"><a href="#">Производство мазей</a></span>,
							<span class="tag"><a href="#">Отгрузка скрепок</a></span>,
							<span class="tag"><a href="#">Монтаж габаритов</a></span>
						</div>
					-->
				</div>

			</div>
		</div>