li{ 
	list-style: none;
}
.bold{font-weight: bold;
}
.no-mright{
	margin-right: 0;
}
.no-mleft{
	margin-left: 0;
}
/* search input styles */
#header{
	margin-bottom: 10px;
	overflow: hidden;
}
#logo{
	width: 201px;
	height:143px;
	background: url(img/logo.png);
	display:block;
}
#key-word{
	width: 290px;
	margin-bottom:8px;
}
#city-search{
	width: 290px;
	margin-bottom:8px;
}


/*form-stacked overwrite*/
.form-stacked{
	padding-left: 0;

}

#first-glance ul li{
	float: left;
	width: 220px;
	font-size:16px;
	line-height:1.3;
}
#first-glance ul li.selected a{
	font-size:15px;
	border-radius: 4px;
	background:#EEDC94;
	color:#404040;
	overflow: hidden;
	padding:2px;
}
#first-glance ul li:nth-child(3n){
	clear: right;
}
#first-glance.well{	}

.green{
	background:#E8FFE8;
}
.well.green{
	background:#E8FFE8;
}
div.regions ul li.region{
	float: left;
	width: 220px;
}
div.regions ul li.region:nth-child(15n){
	clear: right;
}
div.cities ul li.city{
	float: left;
	width: 220px;
}
div.cities ul li.city:nth-child(2n){
	clear: right;
}

div.companies ul{
	margin: 0;
}
li.company{
	border-bottom: 1px dotted #CCC;
	padding-top:
	padding:7px 0px;
    min-height: 82px;
}
li.company a.header{
	p adding-left:20px;
	font-size:18px;

}

div.tags{
	width:470px;
	float: left;
}

div.info{
	overflow: hidden;
	float: right;
	width: 220px;
}
.new, .callback{
	padding:3px;
	margin: 10px 2px;

}

/* 	company styles 	*/

.company div[class*="span"],ul[class*="span"] {
	margin-left: 0;
}
#company-info{
	padding:5px;
	overflow: hidden;
}
	.description{
		padding:0 20px 0 0;
		margin-top: 35px;
	}
	#contact-btn, #add-info{
		margin: 10px 20px;
	}
	#additional-info{
		border: 1px solid rgba(0,0,0,0.5);
		border-radius:4px;
	}
	#additional-info ul{
		padding:10px;
	}
	.ta-left label{
		text-align: left;
	}




/* 			news & articles 		*/

#news-right-block{ }
.news-content p{font-size:14px; line-height:21px;}
#news-menu {  }
.last-news dt{margin-bottom:15px;}

.news{
/*
	overflow: hidden;
*/
	margin-bottom:21px;
}
.news-item {margin-bottom:15px;}
.main-news h3 {line-height:26px; margin-bottom:10px;}
.news span{
	width: 100%;
}
.news img{
	float: left;
	padding:5px;
}

.news.main h3{
	line-height: 25px;
}
.news.main p{
	/* 
	overflow: none;
	padding:0;
	*/
	font-size:16px;
	line-height:23px;
}
/*.news.main a{
	width: 100%;
	float: left;
}*/
.news.main img{
	float: none;
}

.article{
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}
.article img{
	float: left;
	position:relative;
}
.article a{
	background:rgba(255,255,255,0.8);
	position: absolute;
	left: 0px;
	top: 68%;
	display:inline;
}
.chzn-container{
    margin-left: 130px;
}
.chzn-container-multi{
    width: 400px;
}


.social-btns {
	float:left;
}
.my_social_buts { text-align:center; margin-top:80px;}
.my_social_buts img {margin:7px 5px;}
#first-glance  a {margin-right:7px;margin-bottom:7px;}
.info .address {font-size:12px; padding-top:12px;}
.info .phone {font-size:11px; font-style:italic;}